html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 50px;
}

h2{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 30px;
}

h3{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 25px;
}

h4{
    color: #fff;
    font-size: 20px;
}

/*----- NAV -----*/

nav {
    font-size: 25px;
    text-shadow: 1px 1px #000000;
}

#social, #navi li, i, a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

#social li, #navi li {
    display: inline;
   
}

#social #navi {
    display: inline;
}

#social {
    z-index: -1;
}


#navi {
    visibility: hidden;
}

#social {
    visibility: visible;
}

ul :hover {
    color: rgb(97, 0, 0);
    text-shadow: -1px -1px #000000;
    transition: 0.5s;
    background-color: grey;
}

ul :active {
    color: rgb(97, 0, 0);
    text-shadow: -1px -1px #000000;
    transition: 0.1s;
    background-color: grey;
}

#botao {
    margin: auto 20px;
}

nav {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    flex-wrap: nowrap;
}

@media (max-width: 799px) {


    #social i{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    #navi a{
        margin: 0;
        padding: 0;
        font-size: 20px
    }
    
}

/*----- HERO-IMG -----*/

.hero-cover>img {
    width: 100%;
  
}

.hero-cover {
  z-index: -1;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

/*----- SOBRE -----*/

#sobre {
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#sobre>p {
    padding: 20px 20%;
    text-align: left;
    margin: 0;
}

/*----- BANDA -----*/



#banda {
    margin: 0;
    background-color: #2e2e2e;
}
#cardbanda > h2{
    font-size: 20px;
}

.card {
    
    margin: 10px 0;
    padding: 10px 10px;
    text-align: center;
    background-color: white;
}

.card > p {
    font-size: 20px;
    padding: 0;
    margin: 0;

}

.card > p {
    font-size: 15px;
    padding: 0;
    margin: 0;

}

.card > h2 {
    color: #000;
    font-size: 20px;
}

.card>img {
    width: 200px;
    height: 300px;
}

#cardbanda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: courier-std, monospace;
}

@media screen and (max-width: 900px) {
    .card {
        margin: 1% 10%;
    }
}

/*----- MIDIA -----*/
#midia{
    margin: 0;
    background-color: #1a1a1a;
    text-align: center;
    
}
#capas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    

}

.capa{
    border: solid 1px #fff;
    margin-bottom: 30px;
    flex-shrink: 1;
}

.capa > p{
    color: #fff;
}

.capa a > img {
    width: 300px;
}


/*----- CONTATO -----*/
#contato{
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#contato p > a {
    text-decoration: underline;
}

#contato i{
    font-size: 50px;
}

/*----- FOOTER -----*/

footer{
    background-color: #2e2e2e;
    margin: 0;
    padding: 20px 25%;
    color: #fff;
    text-align: center;
}

footer p > a {
    text-decoration: underline;
}

footer > p{
    margin-top: 0;
}
