body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

/*----- NAV -----*/

nav {
    font-size: 30px;
    text-shadow: 1px 1px #000000;
}

#social, #navi li, i, a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

#social li, #navi li {
    display: inline;
}

#navi {
    visibility: hidden;
}

#social {
    visibility: visible;
}

ul :hover {
    color: rgb(97, 0, 0);
    text-shadow: -1px -1px #000000;
    transition: 0.5s;
    background-color: grey;
}

ul :active {
    color: rgb(97, 0, 0);
    text-shadow: -1px -1px #000000;
    transition: 0.1s;
    background-color: grey;
}

#botao {
    margin: auto 20px;
}

nav {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0));
    width: 100%;
}

@media screen and (max-width: 900px) {
    header i, a {
        font-size: 3vh;
    }
    nav ul {
        margin: 10px;
    }
    nav>#navi {
        display: none;
    }
}

/*----- HERO-IMG -----*/

.hero-cover>img {
    width: 100%;
  
}

.hero-cover {
  z-index: -1;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

/*----- SOBRE -----*/

#sobre {
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#sobre>p {
    padding: 20px 20%;
    text-align: left;
    margin: 0;
}

/*----- BANDA -----*/

h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 50px;
}

#banda {
    margin: 0;
    background-color: #2e2e2e;
}

.card {
    margin: 10px 0;
    padding: 10px 10px;
    text-align: center;
    background-color: white;
}

.card>img {
    width: 200px;
    height: 300px;
}

#cardbanda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .card {
        margin: 1% 10%;
    }
}

/*----- MIDIA -----*/
#midia{
    margin: 0;
    background-color: #1a1a1a;
    text-align: center;
}

/*----- CONTATO -----*/

/*----- FOOTER -----*/

footer{
    background-color: #000;
    margin: 0;
    padding: 20px 25%;
    color: #fff;
    text-align: center;
}

footer > p{
    margin-top: 0;
}